.knot-form {
  margin: 0 10px;

  .knot-dropdown {
    select {
      width: 100%;
      margin-top: 10px;
      font-size: 25px;
    }
  }

  .knot-details {
    margin-top: 10px;

    textarea {
      width: 100%;
      height: 300px;
    }
  }

  .knot-date {
    margin-top: 10px;
    font-size: 25px;

    input {
      width: 100%;
      border: 1px solid #999;
    }
  }

  .knot-button {
    margin-top: 10px;
    font-size: 25px;

    input {
      width: 100%;
    }
  }
}

.knots-list {
  margin-top: 40px;
}

.with-show-more {
  margin-bottom: 98px;
}

.knot-metadata {
  color: #FFFFFF;
  height: 48px;
  padding: 5px;

  .date {
    margin: 6px;

    a {
      color: #FFFFFF;
    }
  }

  button {
    margin-left: 5px;
  }
}

.knot-active {
  background-color: #0275d8;
}

.knot-inactive {
  background-color: #777777;
}

.knot-details {
  padding: 10px;
}

.knot-show-more {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 1030;
  padding: 5px;

  button {
    width: 100%;
  }
}
