.knot-form {
  .knot-dropdown {
    select {
      width: 100%;
      margin-top: 10px;
      font-size: 25px;
    }
  }

  .knot-details {
    margin-top: 10px;

    textarea {
      width: 100%;
      height: 300px;
    }
  }

  .knot-date {
    margin-top: 10px;
    font-size: 25px;

    input {
      width: 100%;
      border: 1px solid #999;
    }
  }

  .knot-button {
    margin-top: 10px;
    font-size: 25px;

    input {
      width: 100%;
    }
  }
}

.knots-list {
  margin-top: 40px;
}